*{
    cursor: url("../image/curseur2.png"), default;

}
html,body{
    min-height: 600px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap'); */

@font-face {
    font-family: Satisfy;
    src: url(Satisfy-Regular.ttf);
  }

body{
    margin:0;
    padding: 0px;
    background-image: url("../image/background/texture.png");
    color: white;
}
main{
    min-height: 500px;
}

/*Background*/

.bk{
    display: flex;
}
.bk1 img,.bk2 img,.bk3 img,.bk4 img{
    position:absolute;
    width:200px; 
    height:200px;
}
.bk1 img{
    left:10px;
    top: 20px;
}
.bk2 img{
    transform: rotate(90deg);
    right:10px;
    top: 20px;
}
.bk3 img{
    transform: rotate(180deg);
    right:10px;
    bottom: 10px;
}
.bk4 img{
    transform: rotate(-90deg);
    left:10px;
    bottom: 10px;
}

/* Menu => Affichage */

#menu{
    position: relative;
    left: 48.25%;
    top: 15px;
    z-index: 100;
    min-width: 50px;
    min-height: 50px;
}

#menu img{
    max-width: 60px;
}

#topnav_menu{
    padding: 10px;
    max-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.1);
}

#topnav_menu a{
    color: white;
    font-family: cursive;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
}

/* Menu => Interactif */
  /* #topnav_menu a {
    color: white;
    padding: 12px;
    text-decoration: none;
  }
  .topnav_menu a:hover {
    color: #0078b4;
  } */

 /* Règles livre */
 
 p{
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    position: relative;
    width: 340px;
    top: 40px;
    left: 40px;
    color: black;
 }
 .book{
    position: absolute;
    top: 65px;
    left: 235px;
    width: 70%;
}
.contenu{
    width: 850px;
    min-height: 500px;
    margin: auto;
    background: url("../image/background/book1.png") no-repeat;
    z-index: 10;
    position: relative;
    top: 50px;
    display: grid;
    grid-template-columns: repeat(2,425px);
}

/* Choix page 1 */

.choix{
    position: relative;
    width: 340px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 40px;
}
.choix a{
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    color: black;
    width: 40%;
    text-decoration: none;
    padding:10px;
}
.choix a:hover{
    color: white;
}